<h1>Log In</h1>


<%= flash[:message] %>
<%= form_for :session, url:login_path do |f|%>
<%= f.label :user_id, 'User ID'%>
<%= f.text_field :user_id, class:'form-control' %>
<!-- %= f.label :password, 'Password' %-->
<!--%= f.password_field :password, class:'form-control' %-->
<!--%= f.label :password_confirmation, 'Password confirmation' %-->
<!--%= f.password_field :password_confirmation, class:'form-control' %-->
<%= f.submit "Submit", class:'btn btn-primary' %>
<% end %>