<div class="section">
  <div class="container">
    <h1 class='title'> Users Details<h1>
        <h2 class='subtitle'>
          Name:
          <%= @user.name %>
        </h2>
        <h2 class='subtitle'>
          Email:
          <%= @user.email %>
        </h2>

        <% @user.events.each do |event| %>
          <h3><%= event.title %></h3>
          <p><%= event.date %></p>
          <p><%= event.description %></p>
        <% end %>
  </div>
</div>