<div class="section">
    <div class="container">

        <h1 class='title'><%= @event.title %><h1>
        <p><%= @event.description%></p>
        <p><%= @event.place%></p>
        <p><%= @event.date%></p>
        <p><%= @event.creator.name%></p>
        <br>
        <h3>Guests:</h3>
        <% @invitation.each do |invite|%>
        
        <p><%= invite.attendee.name%></p>
        <%end%>
    </div>
</div>